*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.scene{
    position: relative;
    height: 100vh;
    background: linear-gradient(#a6d8ff,#fff,#fff);
}

.dark .scene{
    background: #222833;
}

.sun{
    position: absolute;
    top: 100px;
    left: 55%;
    transform: translateX(-50%);
    width: 100px;
    height: 100px;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0 0 50px #fff;
    cursor: pointer;
    transition: 0.2s;
}